.category {
    width: 100%;
    height: 40px;
    background: $secondary-color;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 40px;
        column-gap: 30px;

        &__item {
            color: $white;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.4s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;

            &:hover {
                color: #8eccff;
                transition: 0.4s ease;

                .sub-category {
                    display: block;
                    top: 40px;
                    animation: animaSubMenu 0.4s ease-in forwards;
                    @keyframes animaSubMenu {
                        from {
                            opacity: 0;
                            transform: translateY(-30px);
                        }
                        to {
                            opacity: 1;
                            transform: translateY(0); 
                        }
                    }
                }
            }

            .sub-category {
                display: none;
                position: absolute;
                width: 100%;
                top: 0;
                left:0;
                background: $white;
                padding: 50px;
                z-index: 9;

                &__content {
                    display: grid;
                    grid-template-columns: 1fr 291px;
                    align-items: flex-start;
                    justify-content: center;

                    .sub-category__text {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        align-items: flex-start;
                        justify-content: start;

                        li {
                            font-weight: 400;
                            color: $primary-color;
                            font-size: 14px;
                            line-height: 250%;
                            letter-spacing: 0.1em;
                            transition: 0.4s ease;

                            &:hover {
                                color: $secondary-color;
                                transition: 0.4s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}

.first-banner-mobile {
    width: 100%;
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    figure {
        width: 100%;
        display: block;
        position: relative;
        &:nth-child(1) {
            &::before {
                content: "";
                display: block;
                width: 16.52px;
                height: 16.52px;
                position: absolute;
                top: 10px;
                left: 10px;
                background: $secondary-color;
            }
        }
        img {
            width: 100%;
            display: block;
        }
    }

    &__content {
        padding: 40px 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
        justify-content: start;

        h1 {
            font-family: $font-base;
            font-weight: 600;
            font-size: 24px;
            color: $primary-color;
            letter-spacing: 0.1em;

            &::before {
                content: "";
                display: block;
                width: 62px;
                height: 5px;
                background: $secondary-color;
                margin-bottom: 20px;
            }
        }
        p {
            font-family: $font-base;
            font-weight: 400;
            font-size: 14px;
            color: $third-color;
            letter-spacing: 0.1em;
            line-height: 125%;
        }
    }
}

.first-banner-content {
    width: 100%;
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .first-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 80px;

        &:nth-child(2) {
            figure {
                order: 2;
            }
        }

        figure {
            width: 100%;
            display: block;
            position: relative;
                img {
                    width: 100%;
                    display: block;
                }
            }
            .first-figure {
                width: 100%;
                display: block;
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 16.52px;
                    height: 16.52px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background: $secondary-color;
                }
            }
    
        &__content {
            padding: 40px 30px;
            width: 100%;
            max-width: 357px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            align-items: flex-start;
            justify-content: start;
    
            h1 {
                font-family: $font-base;
                font-weight: 600;
                font-size: 24px;
                color: $primary-color;
                letter-spacing: 0.1em;
    
                &::before {
                    content: "";
                    display: block;
                    width: 62px;
                    height: 5px;
                    background: $secondary-color;
                    margin-bottom: 20px;
                }
            }
            p {
                font-family: $font-base;
                font-weight: 400;
                font-size: 14px;
                color: $third-color;
                letter-spacing: 0.1em;
                line-height: 125%;
            }
        }
    }
}

.product-list {
    position: relative;
    display: block;
    width: 100%;
    margin: 30px 0;
    figure {
        width: 100%;
        display: block;
        position: relative;
        margin: 0 10px;
        img {
            width: 100%;
            display: block;
        }
        .content-box {
            position: absolute;
           width: 90%;
            height: 72px;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 1;
            visibility: visible;
            transition: 0.4s ease-in;

            .logo {
                background: url(/svgs/logo-first.svg) no-repeat center;
                background-size: 100%;
                width: 50px;
                height: 60px;
                display: block;
                @media screen and (min-width: 1300px) {
                    width: 40px;
                    height: 50px;
                }
            }
            .title {
                font-weight: 600;
                font-family: $font-base;
                font-size: 15px;
                color: $primary-color;
                max-width: 68px;
                text-align: center;
            }
            .price {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &--of {
                    font-family: $font-base;
                    font-weight: 300;
                    font-size: 12px;
                    color: $third-color;
                    text-decoration: line-through;
                }
                &--per {
                    font-family: $font-base;
                    font-weight: 300;
                    font-size: 14px;
                    color: $primary-color;
                }
            }
            .open-details {
                background: url(/svgs/open-detail.svg);
                background-size: 100%;
                width: 18px;
                height: 18px;
                display: block;
                cursor: pointer;
               
                &:hover {
                    background: url(/svgs/open-hover.svg) no-repeat center;
                    transition: 0.3s ease-in;
                }
            }
            &.active {
                opacity: 0;
                visibility: hidden;
                transition: 0.4s ease-in;
                ~ .content-box-detail {
                    opacity: 1;
                    visibility: visible;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.4s ease-in;
                }
            }
        }
        .content-box-detail {
            width: 201px;
            height: 263px;
            background: $white;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 30px;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s ease-out;
            box-shadow: 1px 1px 10px 1px #ccc;

            .close-detail {
                background: url(/svgs/close.svg) no-repeat center;
                background-size: 100%;
                width: 25px;
                height: 25px;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                &:hover {
                    background: url(/svgs/close-hover.svg) no-repeat center;
                    transition: 0.3s ease-in;                
                }
            }
            .logo {
                background: url(/svgs/logo-first.svg) no-repeat center;
                background-size: 100%;
                width: 50px;
                height: 60px;
                display: block;
            }
            h1 {
                font-weight: 600;
                font-family: $font-base;
                font-size: 15px;
                color: $primary-color;
            }
            .price {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &--of {
                    font-family: $font-base;
                    font-weight: 300;
                    font-size: 12px;
                    color: $third-color;
                    text-decoration: line-through;
                }
                &--per {
                    font-family: $font-base;
                    font-weight: 300;
                    font-size: 14px;
                    color: $primary-color;
                }
            }
            .btn-buy {
                width: 120px;
                height: 40px;
                border: none;
                background: $secondary-color;
                color: $white;
                font-weight: 600;
                font-size: 14px;
                border-radius: 5px;
                transition: 0.3s ease;
                cursor: pointer;

                &:hover {
                    background: $primary-color;
                    transition: 0.3s ease;
                }
            }
        }
        .tag-campaing {
            position: absolute;
            top: 13px;
            left: 13px;
            display: block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            .new {
                font-size: 12px;
                color: $third-color;
                font-family: $font-base;
            }
        }
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        color: transparent;
        cursor: pointer;
        width: 50px;
        height: 50px;

        &.slick-prev {
            background: url(/svgs/prev.svg) no-repeat center;
            background-size: 100%;
            display: block;
            left: 0;
            z-index: 9;
        }
        &.slick-next {
            background: url(/svgs/next.svg) no-repeat center;
            background-size: 100%;
            display: block;
            right: 0;
        }
        &.slick-disabled {
            opacity: 0.3;
        }
    }
}

.video_overlay {
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.5s ease-out;
    display: none;

    &.active {
       display: block;
       animation: animaVideo 0.5s ease-in-out forwards;
       @keyframes animaVideo {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
       }
    }
    .responsive-iframe {
        position: relative;
        width: 100%;
        height: 100%;

        iframe {
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           width: 90%;
           @media screen and (min-width: 992px) {
            width: 100%;
            max-width: 560px;
           }
        }
    }
    .close-video {
        background: url(/svgs/close-menu-mobile.svg) no-repeat center;
        background-size: 100%;
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
        cursor: pointer;
        @media screen and (min-width: 992px) {
            top: 20px;
            right: 20px;
        }
    }
}

@media screen and (min-width: 1300px) {
    .product-list {
        .slick-arrow {
            &.slick-prev {
                left: -20px;
            }
            &.slick-next {
                right: -20px;
            }
        }
    }
}